/api/
/runtime/
/Simulator.app/
/.idea/
.DS_Store
*/.DS_Store
/debug.log
/frameworks/runtime-src/proj.android-studio/app/.externalNativeBuild/
/frameworks/runtime-src/proj.android-studio/app/assets/
/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build/
/frameworks/runtime-src/proj.android-studio/.idea/
/frameworks/runtime-src/proj.android-studio/gradle/
/src_luac/
